[Unit]
Description=Manager Service

[Service]
User=root
Group=root
WorkingDirectory=/home/ubuntu/
ExecStart=/home/ubuntu/manager.sh

[Install]
WantedBy=multi-user.target
